html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.center-box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

/* Align the bootstrap's container vertically */
  -webkit-box-align : center;
  -moz-box-align : center;
  -ms-flex-align : center;
}

.btn {
  white-space: normal;
  width: 100%;
  margin: 7px 0;
  background-color: #1EC665;
  color: #fff;
  box-shadow: 0 2px 0 0 #0F7534;
}


.map-wrapper {
  padding-left: 10px;
}

#map {
  height: 60vh;
  width: 60vh;
  position: relative;
}
